* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div-wrapper {
    display: flex;
    flex-direction: column;
    background-position: 60%;
    margin-top: 10px;
    border: 2px solid palevioletred;
    padding: 10px
}

.div-info {
    display: flex;
}

.email {
    margin-left: 10px;
}

.title {
    color: #6e7276;
    margin-top: 5px;
    font-size: 20px;
}

.body {
    color: grey;
    font-size: 20x;
}

.button {
    width: 100px;
    background-color: plum;
    margin: 10px 0 10px;
}

